body{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 9%, rgba(0,212,255,1) 100%);
}

.waiting{
  background: rgb(194,194,194);
  background: radial-gradient(circle, rgba(194,194,194,1) 14%, rgba(252,252,252,1) 82%);
}

  .wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
  }

  .container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    max-width:700px;
    min-width:280px;
  }

  .hidden{
    display:none !important;
  }

  /* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}